<!-- Footer Start -->
<footer class="footer" style="background-image: url(images/footer-bg.png)">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="mb-4">
                    <a href="index-1.html"><img src="images/logo-light.png" alt="" class="" height="30" /></a>
                    <p class="text-white-50 my-4">
                        Tech talk ain't just talks. Tech talk is more than tech.
                    </p>
                </div>
            </div>
            <!-- end col -->

            <div class="col-lg-7 ms-lg-auto">
                <div class="row">
                    <div class="col-lg-6"></div>
                    <div class="col-lg-6">
                        <p class="text-white-50">
                            Don't miss a thing! Receive daily news You should connect
                            social area for Any Proper Updates Anytime.
                        </p>
                        <ul class="list-inline pt-4">
                            <li class="list-inline-item me-3">
                                <a href="https://twitter.com/softamplify"
                                    class="social-icon icon-mono avatar-xs rounded-circle"><i class="icon-xs"
                                        data-feather="facebook"></i></a>
                            </li>
                            <li class="list-inline-item me-3">
                                <a href="https://twitter.com/softamplify"
                                    class="social-icon icon-mono avatar-xs rounded-circle"><i class="icon-xs"
                                        data-feather="twitter"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://twitter.com/softamplify"
                                    class="social-icon icon-mono avatar-xs rounded-circle"><i class="icon-xs"
                                        data-feather="instagram"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->

        <div class="row">
            <div class="col-lg-12">
                <div class="text-center mt-5">
                    <p class="text-white-70 f-15 mb-0">
                        <script>
                            document.write(new Date().getFullYear());
                        </script>
                        © SoftAmplify Technologies. All rights reserved.
                    </p>
                </div>
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</footer>
<!-- Footer End -->