<!--Navbar Start-->
<nav class="navbar navbar-expand-lg fixed-top" id="navbar">
    <div class="container">
        <!-- LOGO -->
        <a class="navbar-brand logo" href="/" title="Tech Talk 7.0 | Powered by Softamplify Technologies">
            <img src="images/logo-dark.png" alt="" class="logo-dark" height="30" />
            <img src="images/logo-light.png" alt="" class="logo-light" height="30" />
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <i class="" data-feather="menu"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ms-auto navbar-center" id="navbar-navlist">
                <li class="nav-item" title="Home">
                    <a href="/#home" class="nav-link active">Home</a>
                </li>
                <li class="nav-item" title="About">
                    <a href="/#about" class="nav-link">About</a>
                </li>
                <li class="nav-item" title="Why you should come">
                    <a href="/#features" class="nav-link">Why you should come</a>
                </li>
                <li class="nav-item" title="Speakers">
                    <a href="/#team" class="nav-link">Speakers</a>
                </li>
                <li class="nav-item" title="Gallery">
                    <a href="/#gallery" class="nav-link">Gallery</a>
                </li>
            </ul>
            <a title="Register Now" href="https://twitter.com/i/spaces/1eaKbrbDRMdKXr"
                class="btn btn-sm rounded-pill nav-btn ms-lg-3">Register Now</a>
        </div>
    </div>
    <!-- end container -->
</nav>
<!-- Navbar End -->