.section-five{
    position: absolute;
    width: 100%;
    margin-top: 92rem;
    z-index: 11;
    /* background-color: var(--color-main); */
}

.section-five hr{
    width: 5%;
    margin-left: 2rem;
    border: 0.05rem solid var(--color-sub);
    border-radius: 1rem;
}

.section-five h1{
    font-size: 2rem;
    font-family: var(--font-main);
    color: var(--color-main);
    margin: 0 0 0 2rem;
}

.box{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 2rem 0;
}


.intro h1{
    color: var(--color-text-other);
    font-size: 1.5rem;
    margin: 0;
}

.intro p{
    visibility: hidden;
    opacity: 0;
    font-family: var(--font-sub);
}

.image:hover{
    cursor: pointer;
}

.image:hover p{
    opacity: 1;
    visibility: visible;
    transition: .50s ease-in;
}

@media screen and (min-width: 1024px) {
    .image{
        height: 20rem;
        width: 20rem;
        margin: 0 2rem;
        overflow: hidden;
        border-radius: 0.2rem;
    }

    .image img{
        height: 100%;
        width: 100%;
    }

    .intro{
        height: 3rem;
        width: 20rem;
        padding: 0.6rem;
        font-family: var(--font-main);
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        position: absolute;
        background: rgba(var(--color-sub-bg),0.5);
        color: var(--color-text-other);
        bottom: 2rem;
        border-bottom-right-radius: 0.2rem;
        border-bottom-left-radius: 0.2rem;
    }

    .image:hover .intro{
        height: 7rem;
        bottom: 2rem;
        background: var(--color-sub);
        transition: 1s ease-in-out;
    }
    
}

@media screen and (max-width: 950px) {

    .image{
        height: 20rem;
        width: 100%;
        margin: 0 2rem;
        overflow: hidden;
        border-radius: 0.2rem;
    }

    .image img{
        height: 100%;
        width: 100%;
    }
    .intro{
        height: 3rem;
        padding: 0.6rem;
        font-family: var(--font-main);
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        position: absolute;
        background: rgba(var(--color-sub-bg),0.5);
        color: var(--color-text-other);
        bottom: 2rem;
        border-bottom-right-radius: 0.2rem;
        border-bottom-left-radius: 0.2rem;

        width: max-content;
        overflow: hidden;
    }

    .image:hover .intro{
        height: 7rem;
        bottom: 2rem;
        background: var(--color-sub);
        transition: 1s ease-in-out;
    }

    .intro h1{
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 450px) {
    .section-five{
        margin-top: 140rem;
    }

    .box{
        display: grid;
        row-gap: 1rem;
        width: 80%;
    }

    .intro{
        height: 3rem;
        width: 100%;
        padding: 0.6rem;
        font-family: var(--font-main);
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        position: relative;
        background: rgba(var(--color-sub-bg),0.5);
        color: var(--color-text-other);
        bottom: 2rem;
        border-bottom-right-radius: 0.2rem;
        border-bottom-left-radius: 0.2rem;
    }

    .image:hover .intro{
        height: 7rem;
        bottom: 2rem;
        background: var(--color-sub);
        transition: 1s ease-in-out;
    }
}