<%- layout("./layouts/boilerplate") %>

<div class="d-flex align-items-center justify-content-center vh-100">
    <div class="text-center">
        <h1 class="display-1 fw-bold">Comming Soon</h1>
        <p class="lead">
            We are happpy to inform you that this feature is under development and it will be ready as soon as possible.
          </p>
        <a href="/" class="btn btn-primary">Go Home</a>
    </div>
</div>